.menu{

    background-color: #242526;
    width: 30%;
    height: 100%;


}

#tiles{

    position: absolute;
    left:200px;
    top:100px;
    right:50px;
}

body{


    background-color: #f7f7f7; 
}

.infoTile{

    background-color: #C4DFE6;
}

.wi-fw{
    font-size:200px;
}
